.forgot-password-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .forgot-password-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-form div {
    margin-bottom: 10px;
  }
  
  .forgot-password-form label {
    font-size: 16px;
  }
  
  .forgot-password-form input[type="email"],
  .forgot-password-form input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .forgot-password-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
  }
  
  .forgot-password-form button[type="submit"] {
    margin-right: 10px;
    display: inline-block;
  }
  
  .forgot-password-form button[type="submit"]:hover,
  .forgot-password-form button[type="submit"]:focus,
  .forgot-password-form button[type="submit"]:active {
    background-color: #217dbb;
  }
  
  .forgot-password-form button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  .forgot-password-form button[type="submit"]:disabled:hover,
  .forgot-password-form button[type="submit"]:disabled:focus,
  .forgot-password-form button[type="submit"]:disabled:active {
    background-color: #3498db;
  }
  
  .forgot-password-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .form-buttons [type="submit"] {
    background-color: rgb(80, 206, 234);
    display: inline-block;
    display: flex;
    width: 150px;
    margin: 0 16px;
    margin-top: 20px;
  }
  .text-message{
    color: black;
    text-align: center;
  }